body {
  margin: 0;
}
html, body {
  height: 100%;
  width: 100%;
}
#map {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  height: auto;
}
#info {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  border: 1px solid black;
  background-color: white;
  max-width: 300px;
  max-height: 80%;
  padding: 5px;
  overflow: auto;
}

* {
  border-radius: 0 !important;
}
.list-group-item {
  cursor: pointer;
}
.btn.disabled {
  cursor: auto;
  opacity: 0.1;
}
.btn-default.focus, .btn-default:focus {
  outline: 0 none;
  background-color: #fff;
}

/* nav bar */
.navbar {
  background-color: white;
}

nav .container {
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#trigger {
  float: left;
  margin: 8px 2px;
}
#searchform {
  margin: 8px 2px;
  padding: 0;
  float: left;
}
#search {
}
#searchbox {
  display: none;
  width: 120px;
}

/* layer list panel */
#slider {
  display: none;  /* initially hidden*/
  position: absolute;
  top: 50px;
  bottom: 0;
  min-width: 256px;
  background-color: #fff;
  overflow: auto;
  padding: 5px;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
}
#layer_list {
  list-style-type: none;
  margin: 5px 0 0 0;
  width: 100%;
}
a.btn {
  color: gray;
}
#layer_list .list-group-item>input {
  margin-right: 2px;
}
div.layer-sub-container {
  display: none;
  clear: both;
  margin-top: 10px;
  height: 60px;
}
div.opacity-slider {
  float: left;
  margin: 8px 0;
  width: 175px;
}
div.opacity-slider + div {
  float: right;
  margin-left: 15px;
}
a.btn-blendmode {
  padding: 1px 4px;
}
a.btn-blendmode span {
  color: lightgray;
}
a.btn-blendmode span.active {
  color: black;
}


/* project properties */
#dlg_project input[type="text"], #dlg_project textarea {
  width: 430px;
}

#dlg_project tr:last-child input {
  width: 365px;
}

#dlg_project td:first-child {
  width: 120px;
  vertical-align: top;
}


/* layer properties dialog */
#dlg_layerProperties .modal-body h3:first-child {
  margin-top: 0;
}

#dlg_layerProperties .modal-body table td:first-child {
  width: 60px;
  vertical-align: top;
}


/* add layer dialog */
#dlg_addlayer {

}

#addlg_group_list {
  background-color: gray;
  min-width: 120px;
  height: 300px;
  overflow: auto;
}

#addlg_group_list .list-group {
  margin: 10px -16px -11px 0;
}

#addlg_layer_list {
  background-color: lightgray;
  height: 300px;
  overflow: auto;
}

#addlg_layer_list button {
  float: right;
  padding: 0px 8px;
}


/* measure dialog */
#dlg_measure {
  display: none;
  background-color: white;
  position: absolute;
}
#dlg_measure h4 {
  font-size: small;
  margin: 0;
  padding: 5px;
  background-color: #f8f8f8;
  cursor: pointer;
}
#dlg_measure .close {
  padding: 0 4px;
}
#dlg_measure .dlg-body {
  padding: 5px;
}
#dlg_measure .btn {
  outline: none;
}
#dlg_measure .btn-group {
  margin-bottom: 5px;
}

/* tooltip for measure tool */
.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0.9;
  padding: 4px 8px;
  white-space: nowrap;
}
.tooltip-measure {
  font-weight: bold;
  opacity: 0.9;
}
.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltip-static:before {
  border-top-color: #ffcc33;
}

/* 3D viewer (three.js) */
#three_rotate {
  float: right;
  margin-right: 5px;
  opacity: 0.5;
  transform: scaleY(-1);
}

#three_save {
  float: right;
  margin-right: 20px;
  opacity: 0.5;
}

#webgl {
}

#threejs_info {
  display: none;
  background-color: white;
  padding: 5px;
  position: absolute;
  bottom: 17px;
  left: 17px;
}

/*
Bootstrap 3.0.0 Snippet by msurguy
http://bootsnipp.com/snippets/featured/multi-level-dropdown-menu-bs3
http://bootsnipp.com/license
*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
}
/* <-- Multi level dropdown menu BS3 */
