body {
  margin: 0
}
html, body {
  height: 100%;
  width: 100%;
}
#map {
  position: absolute;
  top: 50px;
  bottom: 0px;
  width: 100%;
  height: auto;
}
#info {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.6)
}

* {
  border-radius: 0 !important;
}
.list-group-item {
  cursor: pointer;
}

/* nav bar */
nav .container {
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#trigger {
  background-color: #f4f4f4;
  float: left;
  margin: 4px 2px;
  padding: 8px 16px;
}
#trigger:focus {
  outline: 0 none;
}
#search {
  width: 120px;
}

/* layer list panel */
#slider {
  display: none;  /* initially hidden*/
  position: absolute;
  top: 50px;
  bottom: 0px;
  min-width: 250px;
  background-color: rgba(255, 255, 255, 0.95);
  overflow: auto;
  padding: 5px;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
}
#slider button:focus {
  outline: 0 none;
}
#layer_list {
  list-style-type: none;
  margin: 5px 0 0 0;
  width: 100%;
}
a.btn {
  color: gray;
}
.layer-sub-container {
  margin-top: 10px;
  display: none;
  float: clear;
  height: 60px;
}
.opacity-slider {
  margin: 8px 0px;
  width: 175px;
}
a.btn-blendmode {
  padding: 2px;
}
a.btn-blendmode span {
  color: lightgray;
}
a.btn-blendmode span.active {
  color: black;
}


/* add layer dialog */
#dlg_addlayer {

}

#dlg_addlayer .list-group-item {
  border-radius: 0;
}

#addlg_group_list {
  background-color: gray;
  min-width: 120px;
  height: 300px;
  overflow: auto;
}

#addlg_group_list .list-group {
  margin: 10px -16px -11px 0;
}

#addlg_layer_list {
  background-color: lightgray;
  height: 300px;
  overflow: auto;
}

/* measure dialog */
#dlg_measure {
  display: none;
  background-color: white;
  position: absolute;
}
#dlg_measure h4 {
  font-size: small;
  margin: 0;
  padding: 5px;
  background-color: #f8f8f8;
  cursor: pointer;
}
#dlg_measure .close {
  padding: 0px 4px;
}
#dlg_measure .dlg-body {
  padding: 5px;
}
#dlg_measure .btn {
  outline: none;
}
#dlg_measure .btn-group {
  margin-bottom: 5px;
}

/* tooltip for measure tool */
.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  opacity: 0.9;
  padding: 4px 8px;
  white-space: nowrap;
}
.tooltip-measure {
  font-weight: bold;
  opacity: 0.9;
}
.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltip-static:before {
  border-top-color: #ffcc33;
}
